/*
  This file is only used by storybook
*/

@font-face {
	font-family: 'GT-Walsheim-Light';
	src: url('../../static/fonts/GT-Walsheim-Light.eot');
	src: url('../../static/fonts/GT-Walsheim-Light.eot?#iefix')
			format('embedded-opentype'),
		url('../../static/fonts/GT-Walsheim-Light.woff') format('woff'),
		url('../../static/fonts/GT-Walsheim-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'GT-Walsheim-Medium';
	src: url('../../static/fonts/GT-Walsheim-Medium.eot');
	src: url('../../static/fonts/GT-Walsheim-Medium.eot?#iefix')
			format('embedded-opentype'),
		url('../../static/fonts/GT-Walsheim-Medium.woff') format('woff'),
		url('../../static/fonts/GT-Walsheim-Medium.ttf') format('truetype');
}
